<div lass="row">
  <div class="col-md-9 main">
    <h3>Latest Posts</h3>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 latest-posts">
        <li class="latest">
          <%= render 'microposts/micropost_content', micropost: @micropost %>
          <p class="show-this"><%= link_to "Show this post", @micropost %></p>
        </li>
        <% if @prev_micropost %>
          <li>
            <%= render 'microposts/micropost_content', micropost: @prev_micropost %>
            <p class="show-this"><%= link_to "View this post", @prev_micropost %></p>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  <aside class="col-md-3">
    <%= render 'shared/user_info' %>  
    <%= render 'shared/aside_menu' %>  
  </aside>
</div>