<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 user-edit">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Log in</h2>
          <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class:'form-control' %>

          <%= f.label :password %>
          <%= link_to"(forgot password)", new_password_reset_path %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
          
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
        <p class="signup-now">New user? <%= link_to "Sign up now!", signup_path %></p>
        <%= link_to "Twitterアカウントでログイン", "/auth/twitter", class: "btn btn-primary" %>
        <%= link_to "Googleアカウントでログイン", "/auth/google_oauth2", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>