<%= form_for(@user, url: yield(:path_name)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <div>
        <%= attachment_image_tag @user, :profile_image, size: "60x60", format: 'jpeg', class: "", fallback: "no_image.png" %>
      </div>
      <p>Profile-image</p>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>

    <% end %>