<% provide(:title, @user.name) %>
<% provide(:button_text, "Create my account") %>
<% provide(:path_name, signup_path) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 user-edit">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 signup">
        <h2>Sign up</h2>
        <p>
          登録により、記事にいいねやコメントを残すことができるようになります。<br>
          ※メールアドレスに送られるリンクをクリックしていただくと登録完了してログインできるようになります。
        </p>
        <%= render'form' %>
        <p class="login-info">SNSログインを利用すると、メールアドレス確認の手間なく、簡単にログインしていただけます。アカウントごとにユーザーが別々に作られますので、ご注意ください。</p>
        <div class="social-buttons">
          <%= link_to "/auth/twitter", class: "btn btn-twitter" do %>
            <%= fa_icon("twitter lg") %>
            Twitterでログイン
          <% end %>
          <%= link_to "/auth/google_oauth2", class: "btn btn-google" do %>
            <%= fa_icon("google lg") %>
            Googleでログイン
          <% end %>
          <%= link_to "/auth/facebook", class: "btn btn-facebook" do %>
            <%= fa_icon("facebook-f lg") %>
            Facebookでログイン
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
