<% if @first_user %>
  <section class="user-info">
    <%# <h4>Blog owner</h4> %>
    <h4><%= @first_user.name %></h4>
    <div class="profile clearfix">
      <%= link_to @first_user do %>
        <%= user_image(@first_user, height: "70") %>
      <% end %>
    </div>
    <%= simple_format(@first_user.introduction) %>
    <p class="to-profile"><%= link_to "About this blog", about_path %></p>
  </section>
<% end %>