<% if @first_user %>
  <section class="user-info">
    <%# <h4>Blog owner</h4> %>
    <h4><%= @first_user.name %></h4>
    <div class="profile clearfix">
      <%= link_to @first_user do %>
        <% if @first_user.profile_image.attached? %>
          <%= image_tag @first_user.profile_image, height: "70" %>
        <% else %>
          <%= image_tag "no_image.png", size: '70x70' %>
        <% end %>
      <% end %>
    </div>
    <%= simple_format(@first_user.introduction) %>
    <p class="to-profile"><%= link_to "About this blog", about_path %></p>
  </section>
<% end %>