<% if @micropost %>
  <%= attachment_image_tag @micropost.user, :profile_image, size: "60x60", format: 'jpeg', class: "", fallback: "no_image.png" %>
  <h1><%= @micropost.user.name %></h1>
  <p>Introduction</p>
  <p><%= simple_format(@micropost.user.introduction) %></p>
  <span><%= link_to "view my profile", @micropost.user %></span>
  <span><%= pluralize(@micropost.user.microposts.count, "micropost") %></span>
<% end %>