<% if @admin_user %>
  <section class="user-info">
    <%# <h4>Blog owner</h4> %>
    <h4><%= @admin_user.name %></h4>
    <div class="profile clearfix">
      <%= link_to @admin_user do %>
        <%= user_image(@admin_user, height: "70") %>
      <% end %>
    </div>
    <%= simple_format(@admin_user.introduction) %>
    <p class="to-profile"><%= link_to "About this blog", about_path %></p>
  </section>
<% end %>