<li id="micropost-<%= micropost.id %>">
  <%= attachment_image_tag micropost.user, :profile_image, size: "60x60", format: 'jpeg', class: "", fallback: "no_image.png" %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.post_image_id %>
      <%= attachment_image_tag micropost, :post_image, format: 'jpeg', size: "100x100" %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %>ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>