<% provide :title, "新規投稿" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 new-post">
    <h3>新規投稿</h3>
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>

        <%= f.label :content %>
        <%= f.rich_text_area :content, placeholder: "Compose new micropost..." %>

        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.label :category %>
        <%= f.text_field :category, class: "form-control" %>

        <%= f.label :draft, class: "checkbox-inline" do %>
          <%= f.check_box :draft, id: "draft-checkbox" %>
          <span>下書き</span>
        <% end %>
      </div>
      <%= f.submit "記事を投稿", class: "btn btn-primary", id: "post-submit-btn" %>
    <% end %>
  </div>
</div>