<% provide :title, @micropost.title %>
<div class="row">
  <div class="col-md-8">
    <%= render 'microposts/micropost_content', micropost: @micropost %>
    <% if current_user?(@micropost.user) %>
      <span><%= link_to "編集", edit_micropost_path(@micropost) %></span>
      <span><%= link_to "削除", micropost_path(@micropost), method: :delete, data: { confirm: "You sure?"} %></span>
    <% end %>
    <div>
      <% if @micropost.next%>
        <span><%= link_to "Next", micropost_path(@micropost.next) %></span>
      <% end %>
      <% if @micropost.prev %>
        <span><%= link_to "Previous", micropost_path(@micropost.prev) %></span>
      <% end %>
    </div>
  </div>
  <aside class="col-md-4">
    <section class="user-info">
      <%= render 'shared/user_info' %>  
      <%= render 'shared/aside_menu' %>  
    </section>
  </aside>
</div>