<% provide :title, @micropost.title %>
<div class="row">
  <div class="col-md-9 main">
    <div class="row clearfix">
      <div class="col-xs-12 col-md-10 col-md-offset-1 post-show">
        <%= render 'microposts/micropost_content', micropost: @micropost %>
        <div class="clearfix">
          <% if current_user?(@micropost.user) %>
            <div class="show-edit-btns">
              <span><%= link_to "Edit", edit_micropost_path(@micropost), class: "btn btn-success" %></span>
              <span><%= link_to "Destroy", micropost_path(@micropost), method: :delete, data: { confirm: "You sure?"}, class: "btn btn-danger" %></span>
            </div>
          <% end %>
          <div class="page-view">
            <% if logged_in? %>
              <div id="like-unlike">
                <% if current_user.post_like(@micropost) %>
                  <%= render 'microposts/unlike' %>
                <% else %>
                  <%= render 'microposts/like' %>
                <% end %>
              </div>
            <% end %>
            <span id="like-count">いいね: <%= @micropost.likes.count %></span>
            <span>PV: <%= @micropost.impressions_count %></span>
          </div>
        </div>
        <div class="comment-section clearfix">
          <h4>Comments</h4>
          <% if @comments.any? %>
            <div class="comment-box">
              <% @comments.each do |c| %>
                <div class="comment-list">
                  <div class="row">
                    <div class="col-md-2 comment-user">
                      <%= link_to c.user do %>
                        <%= user_image(c.user, height: "50") %>
                        <%= c.user.name %>
                      <% end %>
                    </div>
                    <div class="col-md-10 comment-text">
                      <%= simple_format(c.content) %>
                      <p class="comment-id"><%= "ID:#{c.id} | #{c.created_at.strftime("%Y/%m/%d")}" %></p>
                    </div>
                  </div>
                  <% if replies(c).any? %>
                    <div class="reply-drop-down"><a href="#" class="reply-drop"><%= replies(c).count %>件の返信<span class="glyphicon glyphicon-arrow-down"></span></a></div>
                    <% replies(c).each do |reply| %>
                      <div class="reply-content">
                        <div class="row">
                          <div class="col-md-2 comment-user">
                            <%= link_to reply.user do %>
                              <%= user_image(reply.user, height: "40") %>
                              <%= reply.user.name %>
                            <% end %>
                          </div>
                          <div class="col-md-10 comment-text">
                            <%= simple_format(reply.content) %>
                            <p class="comment-id"><%= "ID:#{reply.id} | #{c.created_at.strftime("%Y/%m/%d")}" %></p>
                          </div>
                        </div>
                        <% if current_user?(reply.user) || current_user&.admin? %>
                          <section class="edit-comment-form">
                            <%= form_for [reply.micropost, reply] do |f| %>
                              <%= f.text_area :content, class: "form-control", rows: 3 %>
                              <%= f.submit 'Update comment', class: "blue-btn comment-btn edit-comment-btn" %>
                            <% end %>
                          </section>
                          <div class="comment-btns">
                            <a href="#" class="btn btn-success edit-comment">Edit</a>
                            <%= link_to "Destroy", "/microposts/#{reply.micropost_id}/comments/#{reply.id}", method: :delete, data: { confirm: "You sure?"}, class: "btn btn-danger" %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                  <section class="reply-comment-form">
                    <%= form_for [@micropost, @comment] do |f| %>
                      <div><%= hidden_field_tag :replied_id, c.id %></div>
                      <%= f.text_area :content, class: "form-control", rows: 3 %>
                      <%= f.submit 'Submit reply', class: "blue-btn comment-btn" %>
                    <% end %>
                  </section>
                  <% if current_user?(c.user) %>
                    <section class="edit-comment-form">
                      <%= form_for [c.micropost, c] do |f| %>
                        <%= f.text_area :content, class: "form-control", rows: 3 %>
                        <%= f.submit 'Update comment', class: "blue-btn comment-btn edit-comment-btn" %>
                      <% end %>
                    </section>
                  <% end %>
                  <div class="comment-btns clearfix">
                    <% if current_user?(c.user) || current_user&.admin? %>
                      <a href="#" class="btn btn-success edit-comment">Edit</a>
                      <%= link_to "Destroy", "/microposts/#{c.micropost_id}/comments/#{c.id}", method: :delete, data: { confirm: "You sure?"}, class: "btn btn-danger" %>
                    <% end %>
                    <% if logged_in? %>
                      <a href="#" class="blue-btn reply-btn active-reply-btn">Reply</a>
                    <% else %>
                      <a class="blue-btn reply-btn not-active">Reply</a>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <%= will_paginate @comments %>
            </div>
          <% end %>
          <% if logged_in? %>
            <%= form_for [@micropost, @comment] do |f| %>
              <%= f.text_area :content, class: "form-control", rows: 3, placeholder: "Comment here..." %>
              <%= f.submit 'Submit comment', class: "blue-btn comment-btn" %>
            <% end %>
          <% else %>
            <textarea class="form-control" rows="3" placeholder="コメントにはログインが必要です"></textarea>
            <input type="submit" value="Submit comment" class="blue-btn comment-btn not-active">
          <% end %>
        </div>
        <div>
          <p class="next-prev clearfix">
            <% if @micropost.next%>
              <span class="show-next"><%= link_to "←Next (#{@micropost.next.title})", micropost_path(@micropost.next) %></span>
            <% end %>
            <% if @micropost.prev %>
              <span class="show-prev"><%= link_to "Prev (#{@micropost.prev.title})→", micropost_path(@micropost.prev) %></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <aside class="col-md-3">
      <%= render 'shared/user_info' %>  
      <%= render 'shared/aside_menu' %>  
  </aside>
</div>

<% if @micropost.image.attached? %>
  <div id="image-mordal">
    <span class="glyphicon glyphicon-remove mordal-remove"></span>
    <%= image_tag @micropost.image, class: "large-image" %>
  </div>
<% end %>